.up {
  z-index: 1009;
  top: 2%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(226, 226, 226, 0.9);
  align-items: center;
  height: 4vh;
}

.breadcrumb{
  flex-basis: 25%;
}

.search-container{
  display: flex;
  flex-direction: row;;
  flex-basis: 30%;
  justify-content: space-between;
}

.searchForm{
  display: flex;
  flex-basis: 70%;
}

.search-container button {
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.search-container button:hover {
  background-color:#d1d1d1
}

input[type=text] {
  width: 100%;
  height: 3vh;
}

:host ::ng-deep .p-message{
  margin: unset;
}

:host ::ng-deep .p-message.p-message-error{
  background: #962e2a00;
  border: unset;
  border-width: 0 0 0 0px;
  color: #ff5757;
}
:host ::ng-deep .p-message .p-message-wrapper{
  padding: unset;
}

:host ::ng-deep .p-message.p-message-error .p-message-icon{
  display: none;
}


.title {
  letter-spacing: 0.2vh;
  font-size: 1.6vh;
  margin-right: 2vh;
  white-space: nowrap;
}

.userPanel{
  margin-right: 0vh;
  display: flex;
  flex-basis: 10%;
  justify-content: flex-end
}

.userPanel .p-button{
  padding: 0.5vh 0.4vh;
}

