
<button *ngIf="this.admin" (click)="this.gotoAdmin()"> ADMIN SETTINGS </button>

<div class="sticky up">
  <div class="breadcrumb">
    <app-breadcrumb [collectionID]="this.collectionID" [keywords]="this.keywords" [view]="this.view" [imageName]="this.imageName"
      (changeCollection)="this.changeCollection()" [collections]="this.collections"> </app-breadcrumb>
  </div>

  <div class="search-container">
    <form class="searchForm" [formGroup]="searchForm" (submit)="search()">
      <div class="searchField flex align-items-center">
        <input type="text" placeholder="Search by keywords..." formControlName="keywords">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    <div class="spinner flex justify-content-center align-items-center">
      <i *ngIf="!isDataRetrieved" class="fa fa-cog fa-spin"></i>
    </div>
  </div>
 
  <div *ngIf="!['admin','image', 'home'].includes(this.view)" class="title flex align-items-center">
    <span id="keywordTitle" *ngIf="this.view == 'keywords'">"{{this.keywords}}" </span>
    <span> ({{this.numResults}} results)</span>
  </div>
  
  <div  class="userPanel">
    <button *ngIf="!['admin','home','collection' ,'keywords','image'].includes(this.view)"
     (click)="this.userPanel()" pButton pRipple type="button" label="USER PANEL"
      class="p-button-raised p-button-secondary p-button-text"></button>
  </div>
  
</div>
<div class="sticky up colorButtons">
  <app-color-buttons ></app-color-buttons>
</div>
<p-messages [(value)]="msgs"></p-messages>