.header1{
   //background-image: url('../../assets/images/123.jpg');
   background-image: linear-gradient(45deg,pink,rgb(233, 183, 76));
   width: 100%;
   height: 300px;
}

h1{
   text-align: center;
}