$titleSize: calc(215% + 1vw);
$dataTitleSize: calc(90% + 0.2vw);

.imageBlock{
    display:flex;
    flex-wrap: wrap;
    margin: 1% 1%;
    // justify-content: center;
    justify-content: space-evenly;
}
.imageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.image{
    max-height:calc(34vh + 20vw);
    max-width: 100%;
    height: auto;
    width: auto;
}

.imTitle{
    // font-size: $titleSize;
    font-size: calc(1vh + 1vw);
    // white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 1.5% 2%;
    max-width: calc(73.1vh + 3vw);
}

.imDataDiv{
    margin: 1vh 3vw;
    font-size: $dataTitleSize;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2vh;
}

.imData{
    display: flex;
    flex-direction: column;
}

.imDataHeader{
    font-size: $dataTitleSize;
    font-weight: bold;
    margin-bottom: 2.5%;
}
.keywords{
    margin: 1vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis:47%;
    flex-grow: 1;
}
.keyword{
    border: 0.5px solid rgba(173, 216, 230, 0.404);
    border-radius: 11px;
    display: flex;
    align-items: center;
    margin: 0.1%;
    padding: 0.7%;
    background-color: unset;
    transition: background-color .2s ease;
    transition: transform .2s ease;
}
.keyword:hover{
    background-color: rgba(200, 200, 200, 0.31);
    transition: 0.2s ease;
    cursor: pointer;
    transform: scale(1.2);
}