<div class="all">
    <div class="sticky up">
        <div class="breadcrumb">
            <span class="breadcrumbString" pTooltip="Back to collection" tooltipPosition="top" [showDelay]="600" tooltipStyleClass="tooltip">
                <div class="categoryName" (click)="this.back()" >{{categoryName}}</div>/{{imageName}}
            </span>
        </div>
        <div class="userPanel">
            <button (click)="this.userPanel()" pButton pRipple type="button" label="USER PANEL"
                class="p-button-raised p-button-secondary p-button-text"></button>
        </div>
    </div>
    <div class="imageBlock">
        <div class="imageDiv">
            <img class="image" src="../../assets/{{imageName}}.jpg">
            <div class="imTitle">IMAGE WITH TITLE {{imageName}}</div>
        </div>
        <div class="imageData flex-column">
            <ng-template ngFor let-imData [ngForOf]="this.imageData" let-i="index">
                <div>
                    <div class="imDataTitle">
                        <h3>{{imData.title}}</h3>
                    </div>
                    <div class="imDataValue">
                        {{imData.value}}
                    </div>
                </div>
            </ng-template>
           
        </div>
    </div>
</div>
