<div class="all">
    <app-header [collectionID]="this.collectionID" [view]="'image'" [imageName]="this.image.name" [isDataRetrieved]="true"></app-header>
    
    <div class="imageBlock">
        <div class="imageDiv">
            <img class="image" src="data:image/png;base64,{{ image.b64 }}">
            <div class="imTitle"><div>{{image.title}}</div></div>
        </div>
        <div class="imDataDiv">
            <ng-template ngFor let-imData [ngForOf]="this.imageData" let-i="index">
                <div class="imData">
                    <div class="imDataHeader">
                        <div>{{imData.header}}</div>
                    </div>
                    <div class="imDataValue">
                        {{imData.value}}
                    </div>
                </div>
            </ng-template>
           
        </div>
        <div class="keywords">
            <ng-template ngFor let-keyword [ngForOf]="this.keywords" let-k="index">
                <div class="keyword" (click)="click(keyword)">
                    {{keyword}}
                </div>
            </ng-template>
        </div>
    </div>
</div>
