.all{
    margin: 0% 5%;
    padding-top: 1px;
    display: flex;
    overflow: auto;
}

.up{
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    margin-top: 6%;
    display: flex;
    justify-content:space-between;
    align-self: flex-start;
    background-color: lightblue;
    .categoryName{
        background-color: lightcoral;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1% 0%;
    gap: 5px;
    justify-content: space-between;
}
.imDiv{
    height: inherit;
    //width:25%;
    //align-self: center;
    //flex-grow: 2;
    flex-basis: 18%;
    //place-self: center;
}

.im{
    height: inherit; //height un numero (el del div) y width auto hace lo que yo quiero pero no desde aqui desde el navegador ya
    width:100%;
}