
<div class="all" style="height: 100%">
    <div>
        <div class="sticky up">
            <div class="breadcrumb">
                <span class="breadcrumbString" pTooltip="Back to collection" tooltipPosition="top" [showDelay]="600"
                    tooltipStyleClass="tooltip">
                    <div (click)="goHome()"><img src="">home</div>
                    /<div class="collectionName">
                        <p-dropdown (click)="despliega($event)" [options]="collections" [(ngModel)]="this.collectionID" scrollHeight="100%"
                            (onChange)="changeCollection()" styleClass="dropDownStyle" [placeholder]="'select'"></p-dropdown>
                    </div>
                </span>
            </div>
            <div class="title flex align-items-center">
                <span>{{this.collection.label}}</span>
            </div>
            <div class="userPanel">
                <button (click)="this.userPanel()" pButton pRipple type="button" label="USER PANEL"
                    class="p-button-raised p-button-secondary p-button-text"></button>
            </div>
        </div>

        <div *ngIf="isDataRetrieved" class="gallery">
            <ng-template ngFor let-im [ngForOf]="this.images" let-i="index">
                <div class="imDiv">
                    <div (click)="this.clickImage(im.name)" >
                        <img class="im" src="data:image/png;base64,{{ im.b64 }}">
                    </div>
                    <div class="overlay flex">
                        <div class="{{im.liked? 'likedDiv' : 'likeDiv'}}" (click)="this.like(im.name)"></div>
                        <div class="zoomDiv" (click)="this.zoom(im)">
                            <img class="zoomIcon" src='../../assets/icons/zoom.svg' />
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="popup">
        <p-dialog header="{{zoomedIm.title}}" [(visible)]="popup" [modal]="true" [style]="{width: 'auto'}"
            [maximizable]="false" [draggable]="false" [resizable]="false">
            <div class="zoomedDiv">
                <img class="zoomed" src="data:image/png;base64,{{ zoomedIm.b64 }}">
            </div>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="popup=false" label="ENGA" styleClass="p-button-text">
                </p-button>
            </ng-template>
        </p-dialog>
    </div>
</div>

      