.breadcrumb {
    width: 15%;
}

.title {
    letter-spacing: 0.2vh;
    font-size: 2vh;
}

.gallery {
    margin: 1.5vh 0.25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7vh;
    justify-content: center;
}

@media (max-width: 812px){
    .im {
        height: unset !important;
        width: 100% !important;
    }
    .imDiv {
        flex-basis: unset !important;
    }
}
.imDiv {
    flex-basis: 0%;
    display: flex;
    justify-content: center;
    position: relative;
    //flex-grow: 1; 
    // el flex grow coloca bien las imagenes pero 
    //hace que el div que las contiene sea mas grande y los iconos like y zoom
    //salen fuera de la imagen
}

.im {
    height: 29vh;
    width: auto;
}

.imdiv:hover, .zoomDiv:hover{
    opacity: 50%;
}

.overlay, .zoomedOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 7.5vh);
    right: 0;
    width: 7.5vh;
    height: 4vh;
    opacity: 0;
    transition: .2s ease;
    border-radius: 4px;
    z-index: 1007;
    justify-content: flex-end;
    align-items:flex-start;
}

.zoomedOverlay {
    opacity: 1;
    top: calc(100% - 81vh);
    left: calc(100% - 15vh);
}

.imDiv:hover .overlay {
    opacity: 1;
}
.imDiv:hover .im  {
    opacity: 0.5;
    transition: .2s ease;
}

.likeDiv, .zoomDiv, .likedDiv{
    width: 2.7vh;
    height: 2.7vh;
    margin:1vh 0.5vh;
    transition: transform 0.1s;
}
.likedDiv{
    mask-image: url(../../assets/icons/heart-filled.svg);
    background-color: rgb(189, 11, 11);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.likeDiv{
    mask-image: url(../../assets/icons/heart.svg);
    background-color: rgb(189, 11, 11);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.likeDiv:active, .likedDiv:active, .zoomDiv:active{
    transform: scale(0.8, 0.8);
}
.zoomDiv{
    //background-image: '../../assets/icons/zoom.svg';
    background-size: contain;
    background-position: center;
}
.zoomIcon{
    width:2.7vh;
    height: auto;
}
.zoomed{
    height:70vh;
    width: auto;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    background-color: rgba(255, 255, 255, 0.7);
}

:host ::ng-deep .p-dialog .p-dialog-content{
    display:flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
}