
<div class="all" style="height: 100%">
    <div>
        <div class="sticky up">
            <p-dropdown [options]="categories" [(ngModel)]="this.category" scrollHeight="100%"
                (onChange)="this.changeCategory()"></p-dropdown>
            <div class="categoryName">
                {{this.categoryName}}
            </div>
            <div class="userPanel">
                <button (click)="this.userPanel()" pButton pRipple type="button" label="USER PANEL"
                    class="p-button-raised p-button-secondary p-button-text"></button>
            </div>
        </div>

        <div class="gallery flex justify-content-center sm:justify-content-between">
            <ng-template ngFor let-im [ngForOf]="this.images" let-i="index">
                <div class="imDiv">
                    <div>
                        <img class="im" src="../../assets/{{im}}.jpg">
                        <p-button class="overlay likeIcon" (onClick)="this.like(i)" icon="pi pi-heart"
                                styleClass="p-button-rounded p-button-text p-button-secondary"></p-button>
                        <p-button class="overlay zoomIcon" (onClick)="this.zoom(i)" icon="pi pi-search-plus"
                                styleClass="p-button-rounded p-button-text p-button-secondary"></p-button>
                        
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
</div>

      