<div class="up">
    <p-dropdown [options]="categories" [(ngModel)]="this.category" scrollHeight="100%" (onChange)="this.changeCategory()"></p-dropdown>
    <div class="categoryName">
        {{this.categoryName}}
    </div>
    <div class="userPanel">
        <button (click)="this.userPanel()" pButton pRipple type="button" label="USER PANEL" class="p-button-raised p-button-secondary p-button-text"></button>
    </div>

</div>
<div class="gallery flex">
    <ng-template ngFor let-im [ngForOf]="this.images" let-i="index">
        <div class="imDiv flex-grow-1">
            <img class="im" src="../../assets/{{im}}.jpg">
        </div>
    </ng-template>
</div>