<div class="grid col-12 bg-blue-500 border-round border-1">
  <div class="col-{{randis[0]}} bg-blue-100 border-round border-1">
    {{randis[0]}}
  </div>
  <div class="col-{{randis[1]}} bg-blue-100 border-round border-1">
    {{randis[1]}}
  </div>
  <div class="col-{{randis[2]}} bg-blue-100 border-round border-1">
    {{randis[2]}}
  </div>
  <div class="col-{{randis[3]}} bg-blue-100 border-round border-1">
    {{randis[3]}}
  </div>
  <div class="col-{{randis[4]}} bg-blue-100 border-round border-1">
    {{randis[4]}}
  </div>
</div>