.iyo{
    background-color: aqua;
    width:20%;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    
}

.fila{
    width: 100%;
    background-color:gray;
    margin-top: 4%;
}