.iyo{
    margin-left: 0%;
    font-family: 'Courier New', Courier, monospace;
}

.fila{
    width: 100%;
    background-color:rgb(233, 232, 232);
    font-family: 'Courier New', Courier, monospace;
}
.b0{
    background-color: gold;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b1{
    background-color: aqua;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b2{
    background-color: fuchsia;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b3{
    background-color: goldenrod;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b4{
    background-color: honeydew;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b5{
    background-color: rebeccapurple;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b6{
    background-color: navajowhite;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b7{
    background-color: navy;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b8{
    background-color: crimson;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b9{
    background-color: yellowgreen;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b10{
    background-color: rgb(187, 255, 0);
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
.b11{
    background-color: darkolivegreen;
    width:20%;
    margin-left: 0%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.right{
    margin-left: 0% !important;
}
