:host ::ng-deep .p-splitter-panel-nested{
    justify-content: center;
}

.uploadZone{
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
.collections{
    display:flex;
    gap: 0.2vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dropZone{
    display:flex;
    flex-direction: column;
    border: solid #5b179200 1px;
    margin: 1vh;
    width:21vh;
    height: 21vh;
    overflow-y: auto;
    overflow-x: unset;
}
.dropZone:hover, .imTitle:hover{
    border: solid #5b1792 1px;
}

.covers {
    max-width: inherit;
    width: inherit;
    position: fixed;
    filter: blur(3px);
}

.droppedTitle {
    flex-basis: 0%;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1.6vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 6px;
}

.dropTitle{
    display: flex;
    justify-content: center;
    z-index: 1008;
    color: white;
    background-color: #0003;
    border-radius: 6px;
}

.imTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.3vh 0vh;
    border: solid #5b179200 1px;
    width: 0;
    min-width: 100%;
}

.uploadForm{
    display:flex;
    align-items: center;
    gap:1vh;
}

input#fileNames{
    display: none;
}

.editField{
    display:flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.5vh;
}

.folderIcon, .uploadIcon{
    color: #495057;
    border: 3px outset #ddddddab;
    border-radius: 3px;
    padding: 0.5vh 0.8vh;
    font-size: 1.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vh;
}


.folderIcon:hover, .uploadIcon:hover{
    background-color: #ddddddab;
}

.uploadButton,.disUploadButton, .addButton, .disAddButton{
    border: unset;
    background-color: unset;
    padding: unset;
}

.disUploadButton, .disAddButton{
    color:#ffffff;
}

.disUploadButton .uploadIcon, .disAddButton .uploadIcon{
    background-color: #fff;
    color: #cbcbcb;
}

[pDraggable] {
    cursor: move;
}

.gallery {
    margin: 1.5vh 0.25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7vh;
    justify-content: center;
}
.imGallery {
    max-height: 29vh;
    width: auto;
}




.editZone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    width: 100%;
    margin: 2vh;
}

.imEdit{
    width: 45vh;
    height: auto;
}

.editForm{
    display:flex;
    flex-direction: column;
    width:100%;
    gap: 3vh;
    align-items: stretch;
}

.title{
    align-items: stretch;
    font-size: 2vh;
}

:host ::ng-deep .p-chips.p-component{
    display: unset;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-token{
    font-size: 1.5vh;
    font-family: monospace;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-input-token input{
    font-size: 1.5vh;
    font-family: monospace;
}
.resultPopup{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(
      10deg,
      rgba(212, 0, 255, 0.212),
      rgba(102, 51, 153, 0.616),
      rgba(109, 30, 255, 0.486),
      rgba(0, 128, 0, 0.616)
    );
    opacity: 0.99;
    backdrop-filter: blur(4px);
    z-index: 1111;
}

.uploadResult{
    display:flex;
    flex-wrap: wrap;
    gap: 3vh;
    font-size: 1.7vh;
    justify-content: center;
    align-items: center;
}

.collectionResult{
    background-color: lavender;
    border: 5px #e6e6fa17 outset;
    border-radius: 3px;
    padding: 0.5vh 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colTitle{
    margin-bottom: 1vh;
    flex-basis: 100%;
}

.arrayResult{
    margin: 1vh 1vh 2vh 1vh;
    background-color: #ffefd559;
    border-radius: 4px;
    align-items: stretch;
    align-self: flex-start;
    padding-bottom: 1vh;
}

.arrayElement{
    margin: 0vh 1vh 0vh 1vh;
    background-color: #ade19061;
    border-radius: 4px;
}

.resizeElement{
    align-items: center;
}

.insertResult,.resizeResult,.updatedResult{
    display:flex;
    flex-direction: column;
    gap: 1.2vh;
}

:host ::ng-deep .p-dialog .p-dialog-content, :host ::ng-deep .p-dialog .p-dialog-header {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}