:host ::ng-deep .p-splitter-panel-nested{
    justify-content: center;
}

.uploadZone{
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
.collections{
    display:flex;
    gap: 0.2vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.dropZone{
    display:flex;
    flex-direction: column;
    border: solid #5b179200 1px;
    margin: 1vh;
    max-width: 19vh;
    max-height: 19vh;
    min-width: 19vh;
    min-height: 19vh;
    overflow-y: auto;
}
.dropZone:hover, .imTitle:hover{
    border: solid #5b1792 1px;
}

.dropTitle{
    display: flex;
    justify-content: center;
}

.imTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.3vh 0vh;
    border: solid #5b179200 1px;
    width: 0;
    min-width: 100%;
}

.uploadForm{
    display:flex;
    align-items: center;
    gap:1vh;
}

input#fileNames{
    display: none;
}

.uploadField, .editField{
    display:flex;
    flex-direction: column;
}

.folderIcon, .uploadIcon{
    color: #495057;
    border: 3px outset #ddddddab;
    border-radius: 3px;
    padding: 0.5vh 0.8vh;
    font-size: 1.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vh;
}


.folderIcon:hover, .uploadIcon:hover{
    background-color: #ddddddab;
}

.uploadButton,.disUploadButton, .addButton, .disAddButton{
    border: unset;
    background-color: unset;
    padding: unset;
}

.disUploadButton, .disAddButton{
    color:#ffffff;
}

.disUploadButton .uploadIcon, .disAddButton .uploadIcon{
    background-color: #fff;
    color: #cbcbcb;
}

[pDraggable] {
    cursor: move;
}

.gallery {
    margin: 1.5vh 0.25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7vh;
    justify-content: center;
}

.imDiv {
    flex-basis: 0%;
    display: flex;
    justify-content: center;
    position: relative;
}

.im {
    max-height: 29vh;
    width: auto;
    //max-width:29vh;
}

.editZone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    width: 100%;
    margin: 2vh;
}

.imEdit{
    width: 45vh;
    height: auto;
}

.editForm{
    display:flex;
    flex-direction: column;
    gap:1vh;
    width:100%;
    gap: 2vh;
    align-items: stretch;
}

.editTitle{
    align-items: stretch;
}

:host ::ng-deep .p-chips.p-component{
    display: unset;
}

.resultPopup{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(
      10deg,
      rgba(212, 0, 255, 0.212),
      rgba(102, 51, 153, 0.616),
      rgba(109, 30, 255, 0.486),
      rgba(0, 128, 0, 0.616)
    );
    opacity: 0.9;
    backdrop-filter: blur(4px);
    z-index: 1111;
}

.uploadResult{
    display:flex;
    // flex-direction: column;
    gap: 3vh;
}

.collectionResult{
    // display:flex;
    // flex-direction: column;
    // gap: 1vh;
}

.colTitle{
    margin-bottom: 1vh;
}

.arrayResult{
    margin-top: 1vh;
}

.insertResult,.resizeResult,.updatedResult{
    display:flex;
    flex-direction: column;
    gap: 1vh;
}