.collections{
    display:flex;
    gap: 0.2vh;
    flex-wrap: wrap;
}

.uploadZone{
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.dropZone{
    display:flex;
    flex-direction: column;
    border: solid #5b179200 1px;
    margin: 1vh;
    max-width: 19vh;
    max-height: 19vh;
    min-width: 19vh;
    min-height: 19vh;
    overflow-y: auto;
}
.dropZone:hover, .imTitle:hover{
    border: solid #5b1792 1px;
}

.dropTitle{
    display: flex;
    justify-content: center;
}

.imTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.3vh 0vh;
    border: solid #5b179200 1px;
}
.uploadForm{
    display:flex;
    align-items: center;
    gap:1vh;
}
input#fileNames{
    display: none;
}

.editForm{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1vh;
}

.uploadField, .editField{
    display:flex;
    flex-direction: column;
}

.folderIcon, .uploadButton{
    color: #495057;
    border: 3px outset #ddddddab;
    border-radius: 3px;
    padding: 0.2vh;
    font-size: 2vh;
}
.uploadIcon{
    color: #495057;
    border: 3px outset #ddddddab;
    border-radius: 3px;
    padding: 0.2vh;
    font-size: 2vh;
}

.folderIcon:hover, .uploadIcon:hover{
    background-color: #ddddddab;
}

.uploadButton,.disUploadButton{
    border: unset;
    background-color: unset;
}

.disUploadButton{
    color:#ffffff;
}

.disUploadButton .uploadIcon:hover{
    background-color: #fff;
    color: #cbcbcb;
}

.editZone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh 1vh;
    width: 100%;
    margin: 0vh 2vh;
}

.editForm{
    width:100%;
    gap: 2vh;
    align-items: stretch;
}

.editTitle{
    align-items: stretch;
}

.imEdit{
    width: 45vh;
    height: auto;
}

[pDraggable] {
    cursor: move;
}


.gallery {
    margin: 1.5vh 0.25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7vh;
    justify-content: center;
}

.imDiv {
    flex-basis: 0%;
    display: flex;
    justify-content: center;
    position: relative;
}

.im {
    height: 29vh;
    width: auto;
}

:host ::ng-deep .p-splitter-panel-nested{
    justify-content: center;
}

:host ::ng-deep .p-chips.p-component{
    display: unset;
}