<div class="all">
    <div>
        <form [formGroup]="uploadForm" (submit)="uploadToBackend()">
        <div class="uploadForm">
            <div class="uploadField">
                <label for="fileNames">fileNames</label>
                <input multiple id="fileNames" type="file" class="file-upload" (change)="loadedFiles($event)"
                    formControlName="fileNames">
            </div>

            <div class="uploadField">
                <label for="shouldSync">sync?</label>
                <input id="shouldSync" type="checkbox" formControlName="shouldSync">
            </div>

            <div class="uploadField">
                <label for="collection">collection</label>
                <input required id="collection" type="text" formControlName="collection">
            </div>

            <div>
                <button type="submit">UPLOAD</button>
            </div>
            
        </div>
        </form>
    </div>
    <div>
        <button [attr.disabled]="this.isFileUploaded ? null : true" (click)="this.sync(this.collection)">SYNC</button>
        
    </div>
    <div>
        <p-progressBar [value]="this.syncProgress"></p-progressBar>
    </div>


    <div *ngIf="isDataRetrieved" class="gallery">
        <ng-template ngFor let-im [ngForOf]="this.noCollection" let-i="index" lazy-load>
            <div class="imDiv">
                <div  >
                    <img class="im" src="data:image/png;base64,{{ im.b64 }}">
                </div>
                <div class="overlay flex">
                    
                    <div class="{{im.liked? 'likedDiv' : 'likeDiv'}}" ></div>
                    <div class="zoomDiv" >
                        <img class="zoomIcon" src='../../assets/icons/zoom.svg' />
                    </div>
                    <div class="removeDiv" ><i class="removeIcon fa fa-trash"></i></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>