<div class="all">
    <app-header [view]="'admin'" [isDataRetrieved]="this.isDataRetrieved" [msgs]="this.msgs" [collections]="this.collections" ></app-header>
    <p-splitter [style]="{display: 'flex'}" [panelSizes]="this.panelSizes">
        <ng-template pTemplate>
            <div class="flex flex-column flex-grow-1">
                <!-- DROP ZONE -->
                <div class="collections">
                    <ng-template ngFor let-collection [ngForOf]="this.collections">
                        <div class="dropZone" pDroppable="loaded" (onDrop)="drop(collection.label)">
                           
                            <img class="covers" src="data:image/png;base64,{{ collection.b64 }}">
                            
                            <!-- <span *ngIf="this.dropped.length == 0">drop here</span> -->
                            <span class="dropTitle">
                               {{collection.label}}
                            </span>
                            <ng-template ngFor let-im [ngForOf]="this.dropped[collection.label]">
                                <div class="droppedTitle flex flex-column" (click)="this.editImage(im)">
                                    
                                    <span>
                                        <h5 class="imTitle">{{im.title}}</h5>
                                    </span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                    <div class="dropZone">
                        <span class="dropTitle">NEW COLLECTION</span>
                        <input class="newColField" id="collection" type="text" [(ngModel)]="this.collection"
                            placeholder="name">
                        
                            <button class="{{this.collection == ''? 'disAddButton': 'addButton'}}"
                             [attr.disabled]="this.collection == '' ?true :null"
                              (click)="insertCollection(this.collection,this.cover)">
                            <i class="uploadIcon pi pi-plus">
                                <span> ADD</span>
                            </i>
                        </button>
                    </div>
                </div>

                <!-- UPLOAD FORM -->
                <div class="flex justify-content-between align-items-center">
                    
                    <form [formGroup]="uploadForm" (submit)="uploadToBackend()">
                    <div class="uploadForm">
                        <div>
                            <label for="fileNames">
                                <i class="folderIcon pi pi-folder-open">
                                    <span> Browse your files</span>
                                </i>
                            </label>
                            <input multiple id="fileNames" type="file" class="file-upload" (change)="loadedFiles($event)"
                                formControlName="fileNames">
                        </div>
                        <div class="flex justify-content-center align-items-center">
                            <button pTooltip="{{this.isDroppedEmpty()? 'Must drop at least one image into some collection' : 'давай'}}" tooltipPosition="top" class="{{this.isDroppedEmpty()? 'disUploadButton': 'uploadButton'}}" [disabled]="this.isDroppedEmpty() ? true : null" type="submit">
                                <label>
                                    <i class="uploadIcon pi pi-cloud-upload">
                                        <span> Upload</span>
                                    </i>
                                </label>
                            </button>
                            <!-- <ng-template #tooltipContent>
                            <span *ngIf="this.isDroppedEmpty()">
                                Must drop at least one image into some collection 
                                <i class="pi pi-arrow-up-left"></i>
                                <i class="pi pi-arrow-up"></i>
                                <i class="pi pi-arrow-up-right"></i>
                            </span>
                            </ng-template> -->
                        </div>
                    </div>
                    </form>

                    <!-- <div class="newCollection"> -->
                    
                        <!-- <input class="newColField" id="collection" type="text" [(ngModel)]="this.collection"
                            placeholder="new collection name"> -->
                    
                        <!-- <select class="newColField" name="cover" id="cover" [(ngModel)]="this.cover">
                            <option value="" disabled selected>cover</option>
                            <ng-template ngFor let-cover [ngForOf]="this.notUsedCovers">
                                <option value={{cover.file_name}}>{{cover.file_name}}</option>
                            </ng-template>
                        </select> -->
                    
                        <!-- <button class="{{this.cover == '' || this.collection == ''? 'disAddButton': 'addButton'}}"
                            [attr.disabled]="this.cover == '' || this.collection == '' ? true :null"
                            (click)="insertCollection(this.collection, this.cover)">
                            <i class="uploadIcon pi pi-plus"><span> ADD NEW COLLECTION</span></i>
                        </button> -->
                    <!-- </div> -->
                </div>
                <div>
                    <p-progressBar [value]="this.syncProgress"></p-progressBar>
                </div>

                <!-- LOADED FILES -->
                <div>
                    <button [attr.disabled]="!this.uploadView ? null : true" (click)="this.switch()">SHOW FILES TO UPLOAD</button>
                    <button [attr.disabled]="this.uploadView ? null : true" (click)="this.switch()">SHOW REMOVED IMAGES</button>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <span>{{this.uploadView ? 'Files to upload:' : 'Removed images:'}}</span>
                </div>
                <div class="gallery" >
                    <div *ngIf="this.uploadView && this.loadedImages.length == 0"> Upload images from your device </div>
                    <div *ngIf="!this.uploadView && this.noCollection.length == 0"> No removed images </div>
                    <ng-template ngFor let-im [ngForOf]="this.uploadView ? this.loadedImages : this.noCollection" let-i="index">
                        <div class="flex flex-column" pDraggable="loaded" (onDragStart)="dragStart(im)" (onDragEnd)="dragEnd()">
                            <div class="flex flex-column" (click)="this.editImage(im)" >
                                <img class="imGallery" src="{{ im.b64 }}">
                                <span><h4 class="imTitle">{{im.title}}</h4></span>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-template>
        <!-- EDIT ZONE -->
        <ng-template  pTemplate>
            <div  *ngIf="this.showIm" class="editZone">
                <div class="editImage" pDraggable="loaded" (onDragStart)="dragStart(this.image)" (onDragEnd)="dragEnd()">
                    <img class="imEdit" src="{{ this.image.b64 }}">
                </div>
                <div class="editForm">
                    <form [formGroup]="editForm" class="editForm">
                        <div class="editField">
                            <label for="title"><span>title ({{this.editForm.value.title?.length}}/{{'200'}})</span></label>
                            <input required class="title" type="text" formControlName="title" maxlength="200" (input)="onEdit()">
                        </div>
                        <div class="editField">
                            <!-- need to check if this.image.keywords length is > 29 -->
                            <label for="keywords"><span>keywords ({{this.image.keywords.length}}/{{'30'}})</span></label>
                            <p-chips class="keywords" formControlName="keywords" (input)="keyInput()">
                            </p-chips>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
    </p-splitter>

</div>

<div *ngIf="this.showResult">
    <p-dialog header="UPLOAD RESULT" [(visible)]="this.showResult" [modal]="true" [style]="{width: 'auto'}"
        [maximizable]="true" [draggable]="false" [resizable]="true" class="resultPopup">
        <div class="uploadResult">
        <ng-template ngFor let-colUpload [ngForOf]="this.uploadResult">
            <div class="collectionResult">
                <span class="colTitle">/{{colUpload.collection}}</span>
                <div class="arrayResult insertResult" *ngIf="colUpload.inserted?.length > 0">
                    <span>inserted:</span>
                    <ng-template ngFor let-inserted [ngForOf]="colUpload.inserted">
                        <div class="arrayElement flex flex-column">
                            <span>id:{{inserted.id}}</span>
                            <span>name:{{inserted.file_name}}</span>
                            <span>title:{{inserted.title}}</span>
                        </div>
                    </ng-template>
                </div>
                <div class="arrayResult updatedResult" *ngIf="colUpload.updated?.length > 0">
                    <span>updated:</span>
                    <ng-template ngFor let-updated [ngForOf]="colUpload.updated">
                        <div class="arrayElement flex flex-column">
                            <span>id:{{updated.id}}</span>
                            <span>name:{{updated.file_name}}</span>
                            <span>title:{{updated.title}}</span>
                        </div>
                    </ng-template>
                </div>
                <div class="arrayResult resizeResult" *ngIf="colUpload.resized?.length > 0">
                    <span>resized:</span>
                    <ng-template ngFor let-resized [ngForOf]="colUpload.resized">
                        <div class="arrayElement resizeElement flex flex-column">
                            {{resized}}
                        </div>
                    </ng-template>
                </div>
            </div>
            
        </ng-template>
        <a class="btn btn-clear" title="uploadResult" [href]="jsonUrl" 
        download="pstock_upload{{this.uploadResult[0].date | date:'dd_MM_yyyy_HH_mm_ss'}}.json">DOWNLOAD JSON</a>
        </div>
    </p-dialog>
</div>