.spacer {
    height: 50px;
    margin: 0 0 -50px 0;
    /* margin: 20px 0 -50px 0; use this if you want #container to have a 'bottom padding', in this case of 20px */
    background: transparent; 
    position: absolute;
}


.iyo{
    width: 100%;
    margin-left: 0%;
    font-family: 'Courier New', Courier, monospace;
    //display: flex;
}

.fila{
    width: 100%;
    background-color:rgb(233, 232, 232);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height:100px;
    width:50%;
}
.b0{
    background-color: gold;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b1{
    background-color: aqua;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b2{
    background-color: fuchsia;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b3{
    background-color: goldenrod;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b4{
    background-color: honeydew;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b5{
    background-color: rebeccapurple;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b6{
    background-color: navajowhite;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b7{
    background-color: navy;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b8{
    background-color: crimson;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b9{
    background-color: yellowgreen;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b10{
    background-color: rgb(187, 255, 0);
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.b11{
    background-color: darkolivegreen;
    
    
    margin-left: 0%;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}


