<div class="breadcrumb">
    <span class="breadcrumbString" pTooltip="Back to collection" tooltipPosition="top" [showDelay]="600"
        tooltipStyleClass="tooltip">
        <div><img src="">home</div>
        /<div class="collectionName">
            <p-dropdown (click)="despliega($event)" [options]="collections" [(ngModel)]="this.collection" scrollHeight="100%"
                (onChange)="changeCategory()" styleClass="dropDownStyle" [placeholder]="'select'"></p-dropdown>
        </div>
        {{imageName ? '/'+imageName : ''}}
    </span>
</div>
