<div class="breadcrumb">
  <span class="breadcrumbString">
    <div (click)="goHome()"><i class="fa fa-home"></i></div>
    <div class="collectionName">
      /<p-dropdown (click)="despliega($event)" [options]="collections" [(ngModel)]="this.collectionID"
        scrollHeight="100%" (onChange)="emitChangeCollection()" styleClass="dropDownStyle"
        [placeholder]="'Collections'"></p-dropdown>
    </div>
    <div *ngIf="imageName" class="breadCrumbImageName">
      /<span>{{imageName}}</span>
    </div>
  </span>
</div>