<div class="breadcrumb">
    <span class="breadcrumbString" >
        <div (click)="goHome()"><img src="">home</div>
        /
        <div *ngIf="this.view == 'collection'; then collectionView else keywordsView"></div>
        <ng-template #collectionView>
          <div class="collectionName">
            <p-dropdown (click)="despliega($event)" [options]="collections" [(ngModel)]="this.collectionID" scrollHeight="100%"
                (onChange)="emitChangeCollection()" styleClass="dropDownStyle" [placeholder]="'select'"></p-dropdown>
          </div>
          /<div *ngIf="imageName" class="breadCrumbImageName">
            {{imageName}}
        </div>
        </ng-template>
        <ng-template #keywordsView>
          <div id="keywordTitle" class="collectionName">{{this.keywords}}</div>
        </ng-template>       
    </span>
</div>