.all {
    margin: 0% 3%;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
}

.up {
    z-index: 1009;
    top: 2%;
    // margin-top: 6%;
    display: flex;
    //transition: display 1s ease;
    justify-content: space-between;
    background-color: rgba(226, 226, 226, 0.9);
    align-items: center;
    height: 6vh;
}
.userPanel{
    margin-right: 0vh;
    display: flex;
    flex-basis: 10%;
    justify-content: flex-end
}

.userPanel .p-button{
    padding: 0.5vh 0.4vh;
}

*{
    font-family: monospace;
}
