.all {
    margin: 0% 5%;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
}

.up {
    z-index: 1009;
    top: 1%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    
}